.DialogueView {
  background-color: #ECF0F4;
  width: 90%;
  height: 80%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-size: calc(10px + 2vmin);
  color: #5BA5EF;
  margin: 30px;
  border-style: solid;
  border-radius: 20px;
  border-color: grey;
  font-style:
}

.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

h3 {
  margin-bottom: 1em;
}

.newDialogues {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 90%;
  height: 400px;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: grey;
}

.allDialogues {
  flex-wrap: wrap;
  width: 90%;
  height: 500px;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: grey;
}
