.DialogueCard {
  display: flex;
  background-color: white;
  width: 500px;
  height: 150px;
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-radius: 20px;
  border-color: grey;
  flex-direction: row;
  flex-wrap: wrap;
}
